* {
    box-sizing: border-box;
}

body {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input {
    background-color: #afc7eca6;
    border-radius: 2rem;
    padding: 1rem;
    color: rgb(79, 18, 18);
    font-family: inherit;
    border: 2px solid #afc7ecd2;
    font-size: 1rem;
    margin-bottom: 2rem;
}

input::placeholder {
    color: rgba(113, 47, 47, 0.69);
}

.card {
    background: #00dadeac;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fb00ffaf, #00dadeac );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,  #fc00ffaf, #00dbdeac);
    box-shadow: 3px 3px 15px rgb(0,0,0,0.5);
    display: flex;
    border-radius: 12px;
    padding: 3rem;

}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    border: 10px solid #afc7ec;
    height: 150px;
    width: 150px;
}

.user-info {
    color: rgb(79, 18, 18);
    margin-left: 2rem;
    max-width: 400px;
    min-width: 300px;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 300px;
    list-style-type: none;
}